* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.image-gallery {
  padding: 0.5rem;
  /* background: #404855; */
}

.body-main {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white;
}

.body-main .heading {
  font-size: 3rem;
}

.new-button {
  padding: 0.5rem;
  margin: 1rem 0;
  color: white;
  background: #404855;
  border-radius: 0;
  border: 0.1rem solid white;
}

.new-button:hover {
  background: grey;
}

.new-button:active {
  background: white;
  color: black;
  border-color: grey;
}

#card {
  min-width: 100vw;
}

.image-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.image-gallery .image {
  margin: 0.25rem;
  height: 50vh;
  width: auto;
}
