#cartQty {
  max-width: 50px;
}

.order-address-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#field {
  min-width: 60vw;
  max-width: 60vw;
}
